{# empty Twig template #}
{% extends "base.html.twig" %}
 {% block body %}
  {{ parent() }}
    <div class="posts">
            <div>
                <div>{{ post.createDate|date("m/d/Y") }}</div>
                <div>{{ post.user.username}}</div>
            </div>
                <div>
                    <h1>{{ post.title }}</h1>
                </div>
            <div>{{ post.cont }}</div>
            
              {#  {% if app.user %}
                    {{  form_start(form, {'action': path('comments',{'id':post.id}) })}}
                    {{  form_end(form) }}           
                    {{  form_errors(form)}}
                    <a href="{{path("allComments", {'id': post.id}) }}">Todos los comentarios</a>
                {%endif%}#}
        </div>
  {% for comment in coments %}
{#      {{ comment.user_id.username}}#}
      {{ comment.comennt }}

      {%endfor%}
{% endblock%}