{# empty Twig template #}
{% extends "base.html.twig" %}
{#<html>#}
{#    <head>#}
    {# ... #}
 
    
{#    </head>#}
     {% block body %}
         {{ parent() }}
  
       
        {% for posts in post %}
        <div class="posts">
            <div>
                <div>{{ posts.createDate|date("m/d/Y") }}</div>
                <div>{{ posts.user.username}}</div>
            </div>
                <div>
                    <h1>{{ posts.title }}</h1>
                </div>
            <div>{{ posts.cont }}</div>
            
                {#{% if app.user %}
                {{  form_start(form)}}
                {{  form_end(form) }}           
                {{  form_errors(form)}}
               {{ render(controller('App\\Controller\\CommentController::Coments', {'id':posts.id})) }}
            {%endif%}#}
                <a href="{{path("openPost", {'id': posts.id}) }}">Ver Comentarios</a>
        </div>
        {% endfor %}
    {% endblock %}
    
{#    </body>#}
{#</html>#}