{# empty Twig template #}
{% extends "base.html.twig" %}
 {% block body %}
  {{ parent() }}
  
  <div class="posts">
            <div>
                <div>{{ post.createDate|date("m/d/Y") }}</div>
                <div>{{ post.user.username}}</div>
            </div>
                <div>
                    <h1>{{ post.title }}</h1>
                </div>
            <div>{{ post.cont }}</div>
            <div class="newComent">
                {% if app.user %}
                    {{  form_start(form, {'action': path('comments',{'id':post.id}) })}}
                    {{  form_end(form) }}           
                    {{  form_errors(form)}}
                  </div>  
                    {% for posts in post.comments %}       
                        <div class ="comments">
                            <div>{{ posts.user.username }}</div>
                            <div>{{ posts.comennt }}</div>
                        </div>
                    {% endfor %}
                {%endif%}
        <div>
        
                
                    
                    
                </div>
{% endblock%}