{# empty Twig template #}
{% extends "base.html.twig" %}
 {% block body %}
  {{ parent() }}
        <div class="posts">
            <div>
                {{  form_start(form)}}
                

            </div>
                <div>
                    <h1>{{ form_widget(form.title) }}</h1>
                </div>
            <div>{{ form_widget(form.cont) }}</div>
        </div>
          {{  form_end(form) }}
        {{ form_rest(form) }}
        {% endblock %}
